body {
  font-family: Helvetica;
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
}
.cell {
  border: 1px solid #000000;
  height: 100px;
  text-align: center;
  font-size: 30px;
}

#board .row {
  margin-bottom: 0;
}

.x {
  background-color: rgb(124, 252, 0);
}

.o {
  background-color: rgb(250, 128, 114);
}
